<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Shipping>
			<version>0.1.0</version>
		</Cammino_Shipping>
	</modules>
	<global>
		<models>
			<camminoshipping>
				<class>Cammino_Shipping_Model</class>
			</camminoshipping>
		</models>
		<resources>
			<!--
			<camminoshipping_setup>
				<setup>
					<module>Cammino_Shipping</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</camminoshipping_setup>
			<camminoshipping_write>
				<connection>
					<use>core_write</use>
				</connection>
			</camminoshipping_write>
			<camminoshipping_read>
				<connection>
					<use>core_read</use>
				</connection>
			</camminoshipping_read>
			-->
		</resources>
		<sales>
			<shipping>
				<carriers>
					<correios>
						<class>Cammino_Shipping_Model_Carrier_Correios</class>
					</correios>
				</carriers>
			</shipping>
		</sales>
	</global>
	<default>
		<carriers>
			<correios>
				<active>0</active>
				<sallowspecific>0</sallowspecific>
				<model>cammino_shipping_model_carrier_correios</model>
				<name>correios</name>
				<title>Correios</title>
				<freepac>0</freepac>
				<sort_order>0</sort_order>
			</correios>
		</carriers>
	</default>
</config>
