<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <!-- Correios -->
                <correios translate="label" module="shipping">
                    <label>Correios</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <mode translate="label">
                            <label>Modo de Integração</label>
                            <source_model>Cammino_Shipping_Model_Source_Correios_Mode</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mode>
                        <user translate="label">
                            <label>User</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </user>
                        <pass translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pass>
                        <contract translate="label">
                            <label>Número do Contrato</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </contract>
                        <postcard translate="label">
                            <label>Cartão de Postagem</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </postcard>
                        <nudr translate="label">
                            <label>Número da Diretoria</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </nudr>
                        <services translate="label">
                            <label>Serviços liberados</label>
                            <source_model>Cammino_Shipping_Model_Source_Correios_Services</source_model>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </services>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <defaultx translate="label">
                            <label>Comprimento padrão</label>
                            <comment>Informe o comprimento padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defaultx>
                        <defaulty translate="label">
                            <label>Altura padrão</label>
                            <comment>Informe a altura padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defaulty>
                        <defaultz translate="label">
                            <label>Largura padrão</label>
                            <comment>Informe o largura padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defaultz>
                        <defaultweight translate="label">
                            <label>Peso padrão</label>
                            <comment>Informe o peso padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defaultweight>
                        <defaultweighttype>
                            <label>Unidade de Medida do Peso</label>
                            <comment>Informe se o peso do produto é fornecido em kilogramas ou gramas.</comment>
                            <source_model>Cammino_Shipping_Model_Source_Weights</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defaultweighttype>
                        <shippingdaysextra translate="label">
                            <label>Prazo Extra</label>
                            <comment>Informe a quantidade de dias extras para ser acrescentado ao prazo de entrega.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shippingdaysextra>
                        <shippingdaysextra_services translate="label">
                            <label>Serviços com prazo extra</label>
                            <comment>Informe o código dos serviços que terão prazo extra (separados por vírgula). Caso não informado o prazo vale para todos os serviços.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shippingdaysextra_services>
                        <immediate_shipment_enable translate="label">
                            <label>Habilitar envio imediato</label>
                            <comment>Para funcionar, criar atributo "immediate_shipping" do tipo sim/não e vincular ao produto</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </immediate_shipment_enable>
                        <immediate_shipment_days translate="label">
                            <label>Dias para envio não imediato</label>
                            <comment>Quantidade de dias a mais que será adicionado ao prazo de entrega, caso o produto não tenha envio imediato</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </immediate_shipment_days>
                        <use_higher_width translate="label">
                            <label>Considerar somente a maior largura para entrega</label>
                            <comment>Ao invés de somar as larguras de cada item, irá considerar apenas a maior largura</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_higher_width>
                        <use_higher_length translate="label">
                            <label>Considerar somente o maior comprimento para entrega</label>
                            <comment>Ao invés de somar os comprimentos de cada item, irá considerar apenas o maior comprimento</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_higher_length>
                        <use_higher_height translate="label">
                            <label>Considerar somente a maior altura para entrega</label>
                            <comment>Ao invés de somar as alturas de cada item, irá considerar apenas a maior altura</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_higher_height>
                    </fields>
                </correios>
                <!-- /Correios -->
            </groups>
        </carriers>
    </sections>
</config>
