<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <!-- Correios -->
                <correios translate="label" module="shipping">
                    <label>Correios</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <user translate="label">
                            <label>User</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </user>
                        <pass translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pass>
                        <services translate="label">
                            <label>Serviços liberados</label>
                            <source_model>Cammino_Shipping_Model_Source_Correios_Services</source_model>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </services>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <defaultx translate="label">
                            <label>Comprimento padrão</label>
                            <comment>Informe o comprimento padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defaultx>
                        <defaulty translate="label">
                            <label>Altura padrão</label>
                            <comment>Informe a altura padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defaulty>
                        <defaultz translate="label">
                            <label>Largura padrão</label>
                            <comment>Informe o largura padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defaultz>
                        <defaultweight translate="label">
                            <label>Peso padrão</label>
                            <comment>Informe o peso padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defaultweight>
                        <shippingdaysextra translate="label">
                            <label>Prazo Extra</label>
                            <comment>Informe a quantidade de dias extras para ser acrescentado ao prazo de entrega.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shippingdaysextra>
                        <immediate_shipment_enable translate="label">
                            <label>Habilitar envio imediato</label>
                            <comment>Para funcionar, criar atributo "immediate_shipping" do tipo sim/não e vincular ao produto</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </immediate_shipment_enable>
                        <immediate_shipment_days translate="label">
                            <label>Dias para envio não imediato</label>
                            <comment>Quantidade de dias a mais que será adicionado ao prazo de entrega, caso o produto não tenha envio imediato</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </immediate_shipment_days>
                        <category10014 translate="label">
                            <label>Categoria para Carta Registrada</label>
                            <comment>Informe o id da categoria que tenha produtos que poderão ser enviados por Carta Registrada</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category10014>
                    </fields>
                </correios>
                <!-- /Correios -->
            </groups>
        </carriers>
    </sections>
</config>
